<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>
<body>



<input type="checkbox" name="toggle" id="toggle" />
<label for="toggle"></label>



<div class="container">

  
 <h1>Photos of Borough Market</h1>
 		{% if category_name %}
			<h2>{{ category_name|title }}</h2>
		{% endif %}
 	<div id="photos">

		{% for url in urls %}
			<div class="image">
				<img src="{{ url }}" />
			</div>
		{% endfor %}
	</div>

</div>


  
<div class="message">
	<div id='tags'>
			<h2>Ingredients</h2>
			{% for url_name, display_name in ingredient_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			
			<h2>Food</h2>
			{% for url_name, display_name in food_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			
			<h2>Architecture</h2>
			{% for url_name, display_name in architecture_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}

			<h2>People</h2>
			{% for url_name, display_name in people_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}

			<h2>Styles</h2>
			{% for url_name, display_name in style_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
		</div>
  


</div>
</body>
</html>