<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>
<body>



<input type="checkbox" name="toggle" id="toggle" />
<label for="toggle"></label>



<div class="container">

  
 <h1>Photos of Borough Market</h1>
 	<div class="photo-title">
 		{% if category_name %}
			<h2>{{ category_name|title }}</h2>
			<h3>{{ count }} photos {% if confidence %} at {{ confidence }}% confidence{% endif %}</h3>
		{% endif %}
	</div>
 	<div id="photos">

		{% for url in urls %}
			<div class="image">
				<img src="{{ url }}" />
			</div>
		{% endfor %}
	</div>

</div>


  
<div class="message">
	<div id='tags'>
			<h2>Ingredients</h2>
			{% for url_name, display_name in ingredient_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			
			<h2>Food</h2>
			{% for url_name, display_name in food_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			
			<h2>Architecture</h2>
			{% for url_name, display_name in architecture_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}

			<h2>People</h2>
			{% for url_name, display_name in people_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}

			<h2>Styles</h2>
			{% for url_name, display_name in style_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			<p class="discrete-note">NB: apart from 'food in hand' and 'cornucopia', I manually assessed photos for the style categories</p>

			<div class="slidecontainer">
				<form action="/{{category_slug}}">
				 	<label for="confidenceScale">Change confidence level: <span id="confidenceFigure"></span>%</label>
				 	<input type="range" min="1" max="100" value="{{confidence}}" class="slider" id="confidenceScale" name="confidence">
				 	<input type="submit" value="Set new confidence level">
				 	<div class="tooltip"><p>What does this mean?</p>
					  <span class="tooltiptext">The image classifier provides a measure of how sure it is that the image fits in the category it has chosen. 100% means it is certain.</span>
					</div>
				 </form>
			</div>
		</div>
  


</div>
</body>
<script type="text/javascript">
	var slider = document.getElementById("confidenceScale");
	var output = document.getElementById("confidenceFigure");
	output.innerHTML = slider.value; // Display the default slider value

	// Update the current slider value (each time you drag the slider handle)
	slider.oninput = function() {
	    output.innerHTML = this.value;
	}
</script>
</html>