<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>
<body>



<div class="container">

  
 <h1>Photos of Borough Market</h1>
 <div id='tags'>
			<h2>Ingredients</h2>
			{% for url_name, display_name in ingredient_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			
			<h2>Food</h2>
			{% for url_name, display_name in food_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			
			<h2>Architecture</h2>
			{% for url_name, display_name in architecture_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}

			<h2>People</h2>
			{% for url_name, display_name in people_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}

			<h2>Styles</h2>
			{% for url_name, display_name in style_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			
			<p class="discrete-note">NB: categories marked with # were categorised by hand, not by machine</p>

		</div>

</div>


  
<div class="message">
	
  


</div>
</body>
</html>