<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>
<body>



<div class="container">

  
 <h1>Photos of Borough Market</h1>
 
<div id="intro">
	 <p>This site shows the results of an analysis of Instagram photos taken of Borough Market across 4 weeks in spring 2018. It was done as part of my MSc in Digital Anthropology. The analysis is based on supervised learning, and used the Clarifai image recognition API.</p>
	 <p>Choose a category below to see all images identified as belonging to that category. Adjust the confidence slider to change the level of confidence the model has that images belong to your selected category: for instance, setting an 80% confidence level will display only images that the image recognition model is 80% confident fit this category.</p>
	 <p>You can see the code for <a href="https://github.com/lovedaybrooke/gromviewer">this site</a> and <a href="https://github.com/lovedaybrooke/gromcategoriser">the classifier</a>, or see <a href="https://prezi.com/view/iImizkWwIFrENrgu5A19/">the final outputs of the entire project</a>.</p>
 </div>

 <div id='tags'>
			<h2>Ingredients</h2>
			{% for url_name, display_name in ingredient_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			
			<h2>Food</h2>
			{% for url_name, display_name in food_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			
			<h2>Architecture</h2>
			{% for url_name, display_name in architecture_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}

			<h2>People</h2>
			{% for url_name, display_name in people_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}

			<h2>Styles</h2>
			{% for url_name, display_name in style_categories.items() %}
				<h3 class='category'><a href="/{{ url_name }}">{{ display_name }}</a></h3>
			{% endfor %}
			
			<p class="discrete-note">NB: categories marked with # were categorised by hand, not by machine</p>

		</div>

</div>


  
<div class="message">
	
  


</div>
</body>
</html>